services:
  frontend:
    build:
      context: .
      args:
        - NEXT_PUBLIC_API_BASE=${NEXT_PUBLIC_API_BASE}
        - NEXT_PUBLIC_WEBSOCKET_BASE=${NEXT_PUBLIC_WEBSOCKET_BASE}
        - NEXT_PUBLIC_GOOGLE_CLIENT_ID=${NEXT_PUBLIC_GOOGLE_CLIENT_ID}
    container_name: frontend
    restart: always
    env_file:
      - .env.production
    ports:
      - "3000:3000"
    networks:
      - npm_network

networks:
  npm_network:
    external: true
