@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #15161a;
  --hovercolor: #1a2029;
  --primarycolor: #30d5ff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #15161a;
    --foreground: #ededed;
  }
}

/* global.css */
@layer utilities {
  .bg-custom-radial {
    background-image: radial-gradient(
        at 88% 40%,
        hsla(240, 15%, 9%, 1) 0px,
        transparent 85%
      ),
      radial-gradient(at 49% 30%, hsla(240, 15%, 9%, 1) 0px, transparent 85%),
      radial-gradient(at 14% 26%, hsla(240, 15%, 9%, 1) 0px, transparent 85%),
      radial-gradient(at 0% 64%, hsla(191, 100%, 10%, 1) 0px, transparent 85%),
      radial-gradient(at 41% 94%, hsla(284, 100%, 84%, 1) 0px, transparent 85%),
      radial-gradient(at 100% 99%, hsla(191, 100%, 30%, 1) 0px, transparent 85%);
  }
}

@layer base {
  input[type="search"]::-webkit-search-decoration,
  input[type="search"]::-webkit-search-cancel-button,
  input[type="search"]::-webkit-search-results-button,
  input[type="search"]::-webkit-search-results-decoration {
    display: none;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

/* Neon border */
.neon-border {
  position: relative;
  border: 1px solid transparent;
}

.neon-border::before {
  content: "";
  position: absolute;
  inset: 0; /* menutupi seluruh button */
  padding: 2px; /* tebal border */
  border-radius: inherit;
  background: linear-gradient(90deg, #30d5ff, #ff3ec2, #30d5ff);
  background-size: 300% 100%;
  -webkit-mask: 
    linear-gradient(#fff 0 0) content-box, 
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
          mask-composite: exclude; 
  mask: 
    linear-gradient(#fff 0 0) content-box, 
    linear-gradient(#fff 0 0);
  mask-composite: exclude;
  z-index: -1;
  animation: neon-border-animation 2s linear infinite;
}

@keyframes neon-border-animation {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 100% 0%;
  }
}
